:root {
  --blue-color: #2196f3;
  --light-blue-color: #188ce8;
  --main-color: #757575;
  --bgc-main-color: #e5e5e5;
  --header-color: #212121;
  --customers-color: #afb1b8;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  background-color: #fff;
}

body,
h1,
h2,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*the same classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.conteiner {
  width: 1200px;

  margin-right: auto;
  margin-left: auto;

  padding-left: 15px;
  padding-right: 15px;
}
/* header */

.header {
  border-bottom: 1px solid #ececec;

  background-color: #ffffff;
}

.header__help {
  display: flex;
  align-items: center;
}

.top-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blue-color);
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
}

.top-logo {
  color: var(--blue-color);
}

.logo {
  color: #000;
}

.top-logo--position {
  margin-right: 95px;
}

.navigation__item--position {
  margin-right: 50px;
}

.navigation__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: #212121;
}

.navigation__link:hover {
  color: var(--blue-color);
}
.navigation__link:focus {
  color: var(--blue-color);
}
.navigation__link--active {
  color: var(--blue-color);
}
.header__main {
  align-items: center;
  display: flex;
}
.navigation {
  display: flex;
}

.navigation__link--active {
  position: relative;
}
.navigation__link--active::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 3px;

  left: 0;
  bottom: -1px;

  border-radius: 2px;
  background-color: var(--blue-color);
}

.navigation .navigation__item:last-child {
  margin-right: 0px;
}

.navigation:focus {
  color: #2196f3;
}
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item--position {
  margin-right: 50px;
}
.contacts__item--position:last-child {
  margin-right: 0px;
}
.contacts__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  padding-bottom: 32px;
  padding-top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--blue-color);
}
.contacts__link:hover .contacts__icon {
  fill: var(--blue-color);
}

.contacts__link:focus .contacts__icon {
  fill: var(--blue-color);
}

.contacts__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: var(--main-color);
  width: 16px;
  height: 12px;
}
.contacts__icon--position {
  margin-right: 10px;
}

/*hero  */

.hero {
  background-size: cover;
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/header/header.jpg");

  background-position: center;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

.hero__header {
  width: 700px;
  margin-left: auto;
  margin-right: auto;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
}
.hero__header--position {
  margin-bottom: 30px;
  margin-top: 0px;
}

.hero__knob {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  font-family: inherit;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--blue-color);
  color: #ffffff;
}
.hero__knob:hover,
.hero__knob:focus {
  color: #fff;
  background-color: var(--light-blue-color);
}
/* benefits */

.benefits {
  padding-top: 95px;
  padding-bottom: 95px;
}

.benefits__list {
  display: flex;
}

.benefits__item--position {
  margin-right: 30px;
}

.benefits__item--position:last-child {
  margin-right: 0px;
}

.benefits__item::before {
  content: "";

  display: block;

  height: 120px;

  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}
.benefits__item--position::before {
  margin-bottom: 30px;
}

.antenna::before {
  background-image: url(../images/svg/antenna\ .svg);
}

.clock::before {
  background-image: url(../images/svg/clock.svg);
}

.diagram::before {
  background-image: url(../images/svg/diagram.svg);
}

.astronaut::before {
  background-image: url(../images/svg/astronaut.svg);
}

.benefints__header {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
}
.benefints__header--position {
  margin-bottom: 10px;
}

.benefits__text {
  min-width: 270px;

  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;
}

/* work section */

.work {
  padding-top: 0;
  padding-bottom: 95px;
}

.work__title {
  font-weight: bold;
  font-size: 36px;

  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.work__title--position {
  margin-bottom: 50px;
}

.projects {
  display: flex;
}

.projects__item {
  position: relative;
}
.projects__item--position {
  margin-right: 30px;
}

.projects__item--position:last-child {
  margin-right: 0;
}

.projects__wrap {
  position: absolute;

  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.projects__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.projects__text--position {
  margin-top: 27px;
}

/* team section */

.team {
  padding-top: 0;
  padding-bottom: 95px;
  color: var(--header-color);
  background-color: #f5f4fa;
}

.team__header {
  padding-top: 95px;
  padding-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}

.members {
  display: flex;
}

.members__item {
  width: 270px;
  height: 428px;
  left: 215px;
  top: 1635px;
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.members__item--position {
  margin-right: 30px;
}

.members__item--position:last-child {
  margin-right: 0;
}

.team-link {
  color: var(--header-color);
}

.team__meta--position {
  margin-top: 30px;
  margin-bottom: 16px;
}

.members__person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;

  text-align: center;
  letter-spacing: 0.03em;
}

.members__person--position {
  margin-bottom: 10px;
}

.members__role {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.1;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.social-networks {
  display: flex;
  justify-content: center;
}

.social-networks__item--position {
  margin-right: 10px;
}

.social-networks__item--position:last-child {
  margin-right: 0px;
}

.social-networks__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-networks__link:hover,
.social-networks__link:focus {
  background-color: var(--blue-color);
}

.social-networks__link:hover .social-networks-icon {
  fill: #fff;
}

.social-networks__link:focus .social-networks-icon {
  fill: #fff;
}

.social-networks-icon {
  fill: #afb1b8;
  height: 20px;
  width: 20px;
}

/* customers */

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__header {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.customers__header--position {
  margin-bottom: 50px;
}

.regular-customers {
  display: flex;
}

.regular-customers__item:not(:last-child) {
  margin-right: 30px;
}

.regular-customers__link {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
}

.regular-customers__link:hover {
  border: 1px solid var(--blue-color);
}

.regular-customers__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--customers-color);
  width: 106px;
  height: 60px;
}

.regular-customers__link:hover .regular-customers__icon {
  fill: var(--blue-color);
}

.regular-customers__link:focus .regular-customers__icon {
  fill: var(--blue-color);
}

/* footer */

.bottom {
  padding-top: 60px;
  padding-bottom: 60px;

  background: #2f303a;
}

.bottom__flex-box {
  display: flex;
  align-items: baseline;
}

.lowland-list {
  display: flex;
  align-items: baseline;
}

.logo-studio {
  color: #ffffff;
}

.down-logo {
  padding-bottom: 20px;
}

.location__address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;

  letter-spacing: 0.03em;
}

.location__item--position:not(:last-child) {
  margin-bottom: 10px;
}

.location__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.location__link:hover,
.location__link:focus {
  color: rgba(255, 255, 255, 0.8);
}

/*  */

.footer--position {
  margin-left: 70px;
}

.down-div {
  display: flex;
}
.footer__header {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer__header--position {
  margin-bottom: 20px;
}

.link-list {
  display: flex;
  align-items: baseline;
}

.link-list__item--position:not(:last-child) {
  margin-right: 10px;
}

.link-list__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #44454e;
}

.link-list__svg {
  fill: #fff;
  height: 20px;
  width: 20px;
}

.link-list__link:hover {
  background-color: #2196f3;
}

.link-list__link:focus {
  background-color: #2196f3;
}

.subscribe--position {
  margin-left: 90px;
}

.subscribe__header {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.subscribe__input {
  background-color: #2f303a;
  color: #acacb0;
  border: 1px solid rgba(255, 255, 255, 0.3);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
}

.subscribe__input--position {
  margin-top: 20px;
}

.subscribe__label--position {
  margin-right: 8px;
}

.footer-input::placeholder {
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe__submit {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
  position: relative;
  padding: 10px 28px 10px 10px;
  width: 200px;
  height: 50px;

  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #ffffff;
}

.subscribe__icon {
  position: absolute;

  content: "";
  width: 24px;
  height: 24px;

  display: block;

  top: 50%;
  right: 23px;
  transform: translateY(-50%);

  fill: #fff;
}

.subscribe__submit:hover,
.subscribe__submit:focus {
  background-color: var(--light-blue-color);
}

/* backdrop */

.backdrop {
  position: fixed;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: #ffffff;

  border-radius: 4px;
}

.modal__text {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.modal__form--position {
  margin-top: 12px;
}

.modal__label {
  position: relative;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 10px;
}

.modal__input {
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;

  width: 100%;
  height: 40px;

  padding: 0;
  padding-left: 40px;
  padding-right: 20px;
  margin-top: 4px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  outline: 1px solid var(--blue-color);
}

.modal__input:focus + svg {
  fill: var(--blue-color);
}

.modal__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  margin-left: 12px;
  display: block;
  width: 18px;
  height: 18px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__textarea {
  margin-bottom: 20px;
  font-size: 12px;
  min-height: 120px;
  width: 448px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
}

.modal__checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal__checkbox-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: #757575;

  visibility: hidden;
}

.modal__checkbox-text:checked + .modal__icon-checkbox {
  background-color: var(--blue-color);
  background-image: url(../images/svg/icon-check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  border: 1px solid var(--blue-color);
}

.modal__icon-checkbox {
  margin-left: -8px;
  margin-right: 8px;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
}

.modal__content {
  margin-left: -5px;
  margin-right: 5px;
}

.modal__checkbox-link {
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
  color: var(--blue-color);

  text-decoration-line: underline;
}

.modal__btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: block;
  margin-right: auto;
  margin-left: auto;

  width: 200px;
  height: 50px;
  padding: 10px 55px;

  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #ffffff;
}
.modal__btn:hover,
.modal__btn:focus {
  background-color: var(--light-blue-color);
}

.modal__backdrop-btn {
  position: absolute;
  right: 0;
  top: 0;

  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  width: 30px;
  height: 30px;
  background-color: #fff;
}

.modal__backdrop-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal__backdrop-btn:hover .modal__backdrop-svg {
  fill: var(--blue-color);
}

.modal__input::placeholder {
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

/* Друга частина проекту */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*Друга частина проекту */

/* nav */

.portfolio__list {
  padding-top: 94px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.portfolio__item--position {
  margin-right: 8px;
}

.portfolio__item--position:last-child {
  margin-right: 0px;
}

.portfolio__tack {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: none;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  background-color: #f5f4fa;
  columns: #212121;
}

.portfolio__tack:hover,
.portfolio__tack:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--blue-color);
  color: #ffffff;
}

.knob-all {
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
}

.knob-sites {
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
}

.knob-apps {
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
}

.knob-design {
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;
}

.knob-marketing {
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;
}

.knob-all:hover {
  background-color: var(--blue-color);
  color: #ffffff;
}

.knob-sites:hover {
  background-color: var(--blue-color);
  color: #ffffff;
}

.knob-apps:hover {
  background-color: var(--blue-color);
  color: #ffffff;
}

.knob-design:hover {
  background-color: var(--blue-color);
  color: #ffffff;
}

.knob-marketing:hover {
  background-color: var(--blue-color);
  color: #ffffff;
}

/* master list */

.master__list {
  padding-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.master__item {
  margin-right: 30px;
  margin-bottom: 30px;

  width: 370px;

  background-color: #fff;
}

.master__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.master__item:nth-child(3n) {
  margin-right: 0;
}

.master__link:hover,
.master__link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.master__meta {
  overflow: hidden;
  position: relative;
}

.master__overlay {
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}

.master__item:hover .master__overlay {
  transform: translateY(0);
}

.master__text {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-style: normal;

  width: 322px;
  height: 168px;

  font-weight: normal;
  font-size: 18px;
  line-height: 28px;

  letter-spacing: 0.03em;

  color: #fff;
}

.master__card {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.master__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  color: var(--header-color);
}

.master__resource {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;

  letter-spacing: 0.03em;

  color: var(--main-color);
}
